Repository vmware/terraform-provider-vra, pull requests merged in 2024-12, with the labels that each got.

#543 chore(gh): update stale workflow
  .github/workflows/stale.yml
Labels: chore, github-actions

#549 chore: update notice
  NOTICE
Labels: chore

#545 chore(gh): add lock workflow
  .github/workflows/lock.yml
Labels: chore, github-actions

#547 chore: update code of conduct
  CODE-OF-CONDUCT.md
Labels: chore

#551 chore(gh): add issue labels
  .github/labeler-issues.yml
  .github/workflows/issues.yml
Labels: chore, github-actions

#552 chore(gh): add pull request labels
  .github/labeler-pull-requests.yml
  .github/workflows/pull-requests.yml
Labels: chore, github-actions

#550 chore: add pull request template
  .github/pull_request_template.md
Labels: chore

#554 chore(gh): update golangci-lint workflow
  .github/workflows/golangci-lint.yml
  .golangci.yml
Labels: chore, github-actions

#546 chore(gh): update release workflow
  .github/workflows/release.yml
Labels: chore, github-actions

#544 chore(gh): add dependabot
  .github/dependabot.yml
Labels: chore, github-actions

#557 docs: update `README.md`
  README.md
Labels: documentation, needs-review

#542 feat: SCSI controller and unit number support, attach disks on build
  vra/resource_machine.go
  website/docs/r/vra_machine.html.markdown
Labels: enhancement, dco-required, documentation, provider, needs-review

#560 Revert commits
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/labeler-issues.yml
  .github/labeler-pull-requests.yml
  .github/pull_request_template.md
  .github/workflows/issues.yml
  .github/workflows/lock.yml
  .github/workflows/pull-requests.yml
Labels: documentation, chore, github-actions, needs-review
